:root {
  --r-heading-text-transform: none;
  --color-secondary: #71c1d8;
  --color-white: #fff;
  --color-text-inverted: rgba(0, 0, 0, 0.9);
  --color-gray-040: rgba(255, 255, 255, 0.4);
  --color-gray-010: rgba(255, 255, 255, 0.1);
  --color-gray-005: rgba(255, 255, 255, 0.05);
  --color-graph-line: var(--color-gray-040);
  --border-radius: 2px;
  --r-code-font: Monaco, monospace;
  --r-main-font: Ubuntu, 'Source Sans Pro', Helvetica, sans-serif;
  --r-heading-font: var(--r-main-font);
  --r-main-font-size: 30px;
  --r-link-color: var(--color-secondary);
}

/**
 * Slide layout
 */

.slides {
  /* border: 1px solid var(--color-gray-005); */
}

.slides > section {
  text-align: left;
  padding: 40px;
  box-sizing: border-box;
  max-height: 100%;
  overflow: hidden;
}

.layout-vertical-list {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

/* Add an area around iframes that can be clicked so the outer
   window can be focused to get control of the slides again. */
.slide-background-content iframe {
  padding: 10px;
}

/**
 * General typography
 */

.reveal ul {
  list-style-type: none;
  margin-left: 0;
}

.reveal strong {
  color: var(--color-secondary);
  font-weight: inherit;
}

.reveal code {
  background: var(--color-gray-010);
  padding: 0px 5px;
  border-radius: var(--border-radius);
}

.reveal blockquote {
  margin: var(--r-block-margin) 0;
  width: auto;
  padding: 0 10px;
}

/**
 * Graphs
 */

.mermaid svg {
  width: 90%;
  min-height: 320px;
}

.mermaid .label foreignObject {
  height: 20px;
}

.mermaid .edgePath .path {
  stroke: var(--color-graph-line) !important;
}

.mermaid .arrowheadPath {
  fill: var(--color-white) !important;
}

.mermaid .label foreignObject > div {
  transform: scale(0.9);
}

.mermaid .label-container {
  fill: var(--color-secondary) !important;
  stroke: none !important;
  rx: var(--border-radius);
  ry: var(--border-radius);
}

.mermaid .edgeLabel {
  background-color: transparent !important;
  color: var(--color-white);
}

.mermaid .edgeLabel rect {
  background-color: transparent !important;
  fill: transparent !important;
}

.mermaid .label {
  color: var(--color-text-inverted) !important;
  font-family: var(--r-main-font) !important;
}

/**
 * Code blocks
 */

.reveal pre {
  width: 100%;
  box-shadow: none;
}

.reveal pre {
  font-size: 0.8em;
}

.reveal .code-huge pre {
  font-size: 1.5em;
}

.reveal .code-small pre {
  font-size: 0.5em;
}

.reveal pre code {
  background: transparent;
}

.hljs {
  background: transparent;
}

.code-wrapper * {
  font-style: normal;
}

/**
 * Assets: images & videos
 */

.asset {
  text-align: center;
  height: 600px;
}

.asset-credits {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 12px;
  opacity: 0.5;
}
